{% with messages = get_flashed_messages() %}
	{% if messages %}
		{{ messages[0] }}
	{% endif %}
{% endwith %}

<form action='/register' method='post'>
	Email:
	<input type='text' name='email'>
	First Name:
	<input type='text' name='first_name'>
	Last Name:
	<input type='text' name='last_name'>
	Password:
	<input type='password' name='password'>
	Confirm Password:
	<input type='password' name='confirm'>
	Birthday Month (please enter a number between 1-12):
	<input type='text' name='month'>
	Birthday Date (please enter a number between 1-31):
	<input type="text" name="date">
	Birthday Year (please enter a number after 1901):
	<input type="text" name="year">
	<input type='submit' value='Submit'>
</form>
